{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <h2>Email</h2>
    {{ user.email }}
    <h2>Roles</h2>
    {{ dump(user.roles) }}
    <h2>Balance</h2>
    {{ balance }}
    <table border="1">
        <caption>Транзакции</caption>
        <tr>
            <th>Деньги</th>
            <th>Время</th>
            <th>Тип</th>
        </tr>
        {% for transaction in transactions %}
            <tr>
                <td>{{ transaction['amount'] }}</td>
                <td>{{ transaction['created_at']['date']|format_datetime('short', 'short') }}</td>
                <td>{{ transaction['type'] }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
