{{ form_start(lessonForm) }}
<div class="mb-3">
    {{ form_row(lessonForm.name, {'attr': {'class': 'form-control'}}) }}
    <div id="help" class="form-text">Название должно быть не менее 5 символов</div>
</div>
<div class="mb-3">
    {{ form_row(lessonForm.content, {'attr': {'class': 'form-control'}}) }}
    <div id="help" class="form-text">Контент должен быть не менее 10 символов</div>
</div>
<div class="mb-3">
    {{ form_row(lessonForm.number, {'attr': {'class': 'form-control'}}) }}
</div>
<button type="submit" class="btn btn-primary">Отправить</button>
{{ form_end(lessonForm) }}
