{% extends 'base.html.twig' %}

{% block title %}Lesson{% endblock %}

{% block body %}
    <div class="card text-center">
        <div class="card-header">
            {{ lesson.name }}
        </div>
        <div class="card-body">
            <p class="card-text">{{ lesson.content }}</p>
        </div>
        <div class="card-footer text-muted">
        </div>
    </div>

    <a class="btn btn-primary mt-3" href="{{ path('course_show', {'id' : lesson.course.id}) }}">Вернуться на курс</a>

    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <a class="btn btn-primary mt-3" href="{{ path('lesson_edit', {'id': lesson.id}) }}">Обновить урок</a>

        {{ include('lesson/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
